.navbar-brand{
    background:#4aaaa5;
    margin:0;
    color:#f3f3f3;
 }

 .name{
    background:#4aaaa5;
    margin:0;
    color:#f3f3f3;
 }

 html,body{
     margin:0;padding:0;
     box-sizing: border-box;

     /* background color can be added to html body*/
 }

 hr{
     border:1.5px solid #cccccc;
     margin-left:0;
}

.image-responsive{
    max-width: 50%;
    max-height: 40%;
}
html{
    position: relative;
    min-height: 100%;

}

body{
    /* Margin bottom by 60px */
    margin-bottom: 60px;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    /* setting the fixed height of the footer here*/
    height:60px;
    background:#666666;
    color:#bbbab1;
    text-align:center;
    border-top: 8px solid #4aaaa5;

}

.btn{
    background:#4aaaa5;
}


@media screen and (max-width:767px) {

    .myHeadeing{
      width:100%;
    }
  } 

