.navbar-brand{
    background:#4aaaa5;
    margin:0;
    color:#f3f3f3;
 }


 html,body{
     margin:0;padding:0;
     box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     /* background color can be added to html body*/
 }



h4,h5{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

a.divider{
    text-decoration: none
}
/*   appending a pipe symbol after every list item as a seperator*/

 a.divider::after{
    content: "|";
    color:#dddddd;
    /*padding-right:5px;*/
    padding-left:15px;
}


.profileImage{
    height:200px;
    width:220px;
    float:left;
    padding-right:15px;
}

.image-responsive{
    max-width: 50%;
    max-height: 40%;
}
/*for sticky footer .. html was made relative and footer's position was made absolute and body has to have margin-bottom equal to footer height*/
html{
    position: relative;
    min-height: 100%;

}

body{
    /* Margin bottom by 60px */
    margin-bottom: 60px;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    /* setting the fixed height of the footer here*/
    height:40px;
    background:#666666;
    color:#bbbab1;
    text-align:center;
    border-top: 3px solid #4aaaa5;

}

h4{
    border-bottom: 1px solid lightslategray;
  }

  .input-color
  {
      background-color: antiquewhite;
  }

.highlight {
    color: #e31b6d;
  }

/* added this media query to show the page heading "Madhavi Mullapudi" for the entire row for small screens*/
@media screen and (max-width:767px) {

    .myHeadeing{
      width:100%;
    }
  } 

  /* Added this media query for showing the prifile image for the entire row for small screens below medium size*/
  @media screen and (max-width:767px)
  {
      .profileImage{
          width: 96%;
      }

  }

